[submodule "vendor/SDL"]
	path = vendor/SDL
	url = https://github.com/libsdl-org/SDL
	branch = release-3.2.x
[submodule "vendor/my-dear-logger"]
	path = vendor/my-dear-logger
	url = https://github.com/noammeraihia/my-dear-logger
